
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
    background: #343a40;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #343a40;
}

#sidebar ul.components li {
    padding: 10px 20px;
}

#sidebar ul.components li.active {
    background-color: #495057;
}

#sidebar ul.components li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

#sidebar ul.components li a:hover {
    background-color: #495057;
}

#sidebar footer {
    position: fixed;
    bottom: 0;
    width: 250px;
    padding: 15px;
    background-color: #343a40;
    color: #fff;
}
#content {
    margin-left: 250px;
    padding: 20px;
}

/* Report Status */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.card {
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 0;
}
